{% extends "base.html" %}

{% block titulo %}Login - Mercadito{% endblock %}

{% block contenido %}

<div class="login-container">

    <div class="login-card">

        <h1>Login</h1>

        <form method="POST" class="login-form">

            {% csrf_token %}

            <input type="email" name="correo" placeholder="Correo">

            <input type="password" name="password" placeholder="Contraseña">

            <button type="submit">
                Ingresar
            </button>

        </form>

        <div class="register-link">
            <a href="{% url 'register' %}">
                Registrarse
            </a>
        </div>

        {% if error %}
        <div class="login-error">
            {{ error }}
        </div>
        {% endif %}

    </div>

</div>

{% endblock %}