{% extends "base.html" %}

{% block titulo %}Perfil - Mercadito{% endblock %}

{% block contenido %}

<div class="profile-container">

    <div class="profile-card">

        <h1>Perfil</h1>

        <div class="profile-info">
            <p><span>Nombre:</span> {{ usuario.nombre }}</p>
            <p><span>Apellido:</span> {{ usuario.apellido }}</p>
            <p><span>Correo:</span> {{ usuario.correo }}</p>
            <p><span>Carrera:</span> {{ usuario.carrera }}</p>
        </div>

    </div>

</div>

{% endblock %}